* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.loader {
    align-self: center;
    margin-top: 15%;
    margin-bottom: 12%;

    display: none;
    /* margin: auto; */
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

body {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.error {
    margin-top: 15%;
    margin-bottom: 18%;
}

header {
    position: sticky;
    display: flex;
    flex-basis: 100%;
    justify-content: space-around;
    align-items: center;
}

.header-tabs {
    flex-basis: 20%;
    display: flex;
    justify-content: space-around;
}

.logo {
    display: flex;
    flex-basis: 30%;
    gap: 1em;
}

.logo img {
    height: auto;
    width: 4em;
}

.navicon {
    font-size: larger;
    opacity: 80%;
}

hr {
    margin-top: 0;
}

.container {
    background-color: #F0F0F0;
    display: flex;
    flex-direction: column;
}

.btns {
    border-bottom: 2px solid red;
    padding: 2em;
    flex-basis: 100%;
    display: flex;
    justify-content: space-around;
}

.btns button {
    border-radius: 10px;
}

button {
    height: 2em;
    width: 10em;
}

img {
    align-self: center;
    /* width: 60%;
    height: 15em; */
    border-bottom: 4px solid grey;
}

@media (min-width:600px) {
    img {
        width: 60%;
        height: 15em;
    }
}

.data {
    height: 80%;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2em;
}

.card {
    background-color: #FFFFFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 2em;
    gap: 1em;
    justify-content: space-between;
    box-shadow: 15px 10px 8px 1px #E0EFF1;
}

.card:hover {
    border: 2px solid black;
}

.rating {
    display: flex;
    gap: 1em;
    justify-content: space-between;
}

button {
    opacity: 70%;
    font-size: large;
    background-color: #ffffff;
    border: 0;
}

hr {
    width: 80%;
}

.inputdiv {
    display: flex;
    gap: 1em;
}

.inputdiv input {
    opacity: 80%;
    border: 0;
    border-radius: 10px;
    background-color: #FFFFFF;
}

.dropdown {
    flex-basis: 6%;
    border: 0;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.footer {
    justify-self: flex-end;
    border-top: 2px solid red;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    padding: 1em;
    text-align: center;
    font-size: 0.5em;
}

.footer-logo {
    flex-basis: 30%;
    gap: 1em;
}

.footer-logo img {
    height: auto;
    width: 3em;
}

.footer-row2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.footer-apps {
    display: flex;
    gap: 0.5em;
}

@media (max-width:1000px) {
    .card {
        flex-basis: 40%;
    }

}

@media only screen and (max-width: 600px) {
    body {
        padding: 2em;
    }

    /* Adjust header styles */
    header {
        flex-direction: column;
    }


    .header-tabs button {
        width: auto;
    }

    .logo img {
        height: 3em;
        width: 3em;
    }

    /* Adjust button styles */
    .btns {
        flex-direction: column;
        align-items: center;
        padding: 1em;
        gap: 1em;
    }

    .btns button {
        width: auto;
    }

    /* Adjust image size */
    img {
        width: 60%;
        height: 17em;
    }

    /* Adjust card styles */
    .card {
        flex-basis: 100%;
        padding: 1em;
    }
}