.container {
    
    padding-top: 7em;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F0F0F0;
    padding-bottom: 5em;

}

#signupForm {
    background-color: #FFFFFF;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    box-shadow: 15px 10px 8px 1px #E0EFF1;
    gap: 1em;
    position: relative;

}


.center {
    display: flex;
    flex-direction: column;
}

.gap {
    flex-basis: 10%;
}

input {

    border-radius: 5px;
    display: flex;
    flex-basis: 80%;
}

.div-s {
    padding-top: 1em;
    display: flex;
    justify-content: space-between;
}

label {
    flex-basis: 30%;
}

.submit {
    flex-basis: 50%;
    align-self: center;
}

.agreed {
    align-self: center;
}
.agree{
    display: flex;
    flex-direction: column;
}

input {
    display: flex;
    justify-content: end;
    height:2em;
}

.red{
    color:red; 
}
.red0, .red1, .red2, .red3, .red4, .red5{
    display: none;
}
.agree{
    text-align: center;
}


@media (max-width:600px) {
    #signupForm {
        width: 80%;
    }

}

.error {
    color: red;
}